In [1]:
!pip install word2number

Collecting word2number
  Downloading https://files.pythonhosted.org/packages/4a/29/a31940c848521f0725f0df6b25dca8917f13a2025b0e8fcbe5d0457e45e6/word2number-1.1.zip
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-cp36-none-any.whl size=5587 sha256=e0954cfed96570fe52acf919041d5f00778d78aef1ac636be7d1ecf3d4aff591
  Stored in directory: /root/.cache/pip/wheels/46/2f/53/5f5c1d275492f2fce1cdab9a9bb12d49286dead829a4078e0e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [4]:
import numpy as np
import pandas as pd
import io

In [3]:
from google.colab import files
upload = files.upload()

Saving hiring.csv to hiring.csv

In [5]:
hiring = pd.read_csv(io.BytesIO(upload["hiring.csv"]))

In [6]:
hiring

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [9]:
hiring.experience = hiring.experience.fillna("zero")

In [10]:
hiring

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [20]:
from word2number import w2n
for i in range(len(hiring['experience'])):
  hiring['experience'][i] = w2n.word_to_num(hiring['experience'][i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
hiring.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [27]:
import math
mean_val = math.floor(hiring['test_score(out of 10)'].mean())
hiring['test_score(out of 10)'] =hiring['test_score(out of 10)'].fillna(mean_val)

In [28]:
hiring

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    7.0                           7      72000
7         11                    7.0                           8      80000

In [29]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [30]:
lr.fit(hiring[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], hiring['salary($)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
lr.predict([[2, 9, 6]])

array([53713.86677124])

In [32]:
lr.predict([[12, 10, 10]])

array([93747.79628651])